<!DOCTYPE HTML>
<html>
  <head>
    <title> Metasl2.0 - Bus </title>
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/bus.css">
    <script>
      const events = new EventSource('/subscribe');
      events.addEventListener('slbus', (bus) => {
        const data = JSON.parse(bus.data);
        let fourhtml = '<h3> 4:an </h3>';
        let otherhtml = '<h3> Others </h3>';
        data.four.forEach((bus) => {
          fourhtml += `<div class='bus'><span class='busnr'>${bus.id}</span><span class='dest'>${bus.destination}</span><span class='bustime'>${bus.display}</span></div>`;
        });
        data.other.forEach((bus) => {
          otherhtml += `<div class='bus'><span class='busnr'>${bus.id}</span><span class='dest'>${bus.destination}</span><span class='bustime'>${bus.display}</span></div>`;
        });
        document.getElementById("bus4").innerHTML = fourhtml;
        document.getElementById("busother").innerHTML = otherhtml;
        document.querySelector("#last-update").innerText = new Date().toLocaleString("sv-SE", { timeZone: "Europe/Stockholm", day: "numeric", month: "short", hour: "2-digit", minute: "2-digit" });
      });
    </script>
  </head>
  <body>
    <div class='buses'>
      <div id='bus4' class='buslist'>
        <h3> 4:an </h3>
      </div>
      <div id='busother' class='buslist'>
        <h3> Other </h3>
      </div>
    </div>
    <div class="updated-at">
      Datan hämtades senast <span id="last-update"></span>
    </div>
  </body>
</html>
