<!DOCTYPE HTML>
<html>
  <head>
    <title> Metasl2.0 - Bus </title>
    <script src='/socket.io/socket.io.js'></script>
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/bus.css">
    <script>
      const socket = io();
      socket.on('slbus', (bus) => {
        let fourhtml = '<h3> 4:an </h3>';
        let otherhtml = '<h3> Others </h3>';
        bus.four.forEach((bus) => {
          fourhtml += `<div class='bus'><span class='busnr'>${bus.id}</span><span class='dest'>${bus.destination}</span><span class='bustime'>${bus.display}</span></div>`;
        });
        bus.other.forEach((bus) => {
          otherhtml += `<div class='bus'><span class='busnr'>${bus.id}</span><span class='dest'>${bus.destination}</span><span class='bustime'>${bus.display}</span></div>`;
        });
        document.getElementById("bus4").innerHTML = fourhtml;
        document.getElementById("busother").innerHTML = otherhtml;
      });
    </script>
  </head>
  <body>
    <div class='buses'>
      <div id='bus4' class='buslist'>
        <h3> 4:an </h3>
      </div>
      <div id='busother' class='buslist'>
        <h3> Other </h3>
      </div>
    </div>
    <p id="trafiklab"> Data provided by <a href="http://trafiklab.se">Trafiklab</a></p>
  </body>
</html>