<!DOCTYPE HTML>
<html>
  <head>
    <title> Metasl2.0 - Metro</title>
    <script src='/socket.io/socket.io.js'></script>
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/metro.css">
    <script>
      const socket = io();
      socket.on('slmetro', (metro) => {
        document.getElementById("g1tcontent").innerHTML = `<span class='dest'>${metro.north[0].id} ${metro.north[0].destination}</span><span class='time'>${metro.north[0].display}</span>`;
        document.getElementById("g2tcontent").innerHTML = `<span class='dest'>${metro.south[0].id} ${metro.south[0].destination}</span><span class='time'>${metro.south[0].display}</span>`;
        let northbottom = '';
        let southbottom = '';
        for (i = 1; i < Math.min(metro.north.length, 4); i++) {
          northbottom += `${metro.north[i].id} ${metro.north[i].destination} ${metro.north[i].display}`;
          if (i + 1 !== metro.north.length) {
             northbottom += "&nbsp; &nbsp; &nbsp";
          }
        }
        for (i = 1; i < Math.min(metro.south.length, 4); i++) {
          southbottom += `${metro.south[i].id} ${metro.south[i].destination} ${metro.south[i].display}`;
          if (i + 1 !== metro.south.length) {
             southbottom += "&nbsp; &nbsp; &nbsp";
          }
        }
        document.getElementById("g1bcontent").innerHTML = northbottom;
        document.getElementById("g2bcontent").innerHTML = southbottom;
      });
    </script>
  </head>
  <body>
    <div id="tunnelbana">
      <div id="groupone" class="skylt">
        <div class="top skylttext">
          <p id="g1tcontent">
            <span class='dest'>14 Hello World</span>
            <span class='time'>13 min</span>
          </p>
        </div>
        <div class="marquee bottom skylttext">
          <div class="marquee" id="g1bcontent" behavior='scroll' scrollamount='10'>
            13 Hej Världen 42min
            <span class='symbols'>✱✱✱</span>
            14 Hello World 1337 min
          </div>
        </div>
      </div>
      <div id="grouptwo" class="skylt">
        <div class="top skylttext">
          <p id="g2tcontent">
            <span class='dest'>14 Hello World</span>
            <span class='time'>13 min</span>
          </p>
        </div>
        <div class="marquee bottom skylttext">
          <div id="g2bcontent" behavior='scroll' scrollamount='10'>
            13 Hej Världen 42min 
            <span class='symbols'>✱✱✱</span>
            14 Hello World 1337 min
          </div>
        </div>
      </div>
    </div>
  </body>
</html>