<!DOCTYPE HTML>
<html>
  <head>
    <title> Metasl2.0 - Metro</title>
    <script src='/socket.io/socket.io.js'></script>
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/metro.css">
    <script>
      var getTopText = function(group, callback) {
        var text = '<span class="dest">' + group[0].LineNumber + ' ' +  group[0].Destination + '</span><span class="time">' + group[0].DisplayTime + '</span>';
        callback(text); 
      }
      var getBottomText = function(group, callback) {
        var text = '';
        if (group.length === 1) {
          text = group[0].PlatformMessage;
        } else {
          for (i = 1; i < group.length; i++) {
            text += group[i].LineNumber + ' ' + group[i].Destination + ' ' + group[i].DisplayTime;
            if ((i + 1) !== group.length) { text+=' <span class="symbols">✱ ✱ ✱</span> '; }
          };
        }
        callback(text);
      }

      var socket = io();
      //TODO: Improve the time difference code as it is relient of being in the correct time zone now...
      var latestfetch = new Date();
      var updateTime = function() {
        var current = new Date();
        console.log(latestfetch);
        console.log(current);
        var diff = Math.round(((current-latestfetch)/1000));
        var timeelement = document.getElementById("time");
        if (timeelement) {
          if (diff < 10000) {
            timeelement.innerHTML="Data is <span id='timebehind'>30 seconds</span> old";
          } else {
            //The api is malfunctioning tell the user that the time is w
            timeelement.innerHTML="Api is malfunctioning! No bus and tram data!";
          }
          if (diff > 100) {
            timeelement.style.visibility="visible";
            timeelement.style.color="red";
          } else if (diff > 45){
            timeelement.style.visibility="visible";
            timeelement.style.color="orange";
          } else if (diff > 0){
            timeelement.style.visibility="visible";
            timeelement.style.color="black";
          }
        }
        var element = document.getElementById("timebehind");
        if (element) {
          if (diff > 3600) {
            var h = parseInt(diff / 60 / 60 + 0.5)
            element.innerHTML = h + ' ' + (h > 1 ? 'hours' : 'hour');
          } else if (diff > 60) {
            var h = parseInt(diff / 60 + 0.5)
            element.innerHTML = h + ' ' + (h > 1 ? 'minutes' : 'minute');
          } else {
            element.innerHTML = diff + ' ' + (diff > 1 ? 'seconds' : 'second');
          }
        }
      }
      socket.on('stats', function(stats) {
        latestfetch = new Date(stats.latesttime);
        updateTime();
      });
      setInterval(updateTime, 1000);


      var groupone = [];
      var grouptwo = [];
      socket.on('slmetro', function(metros) {
        console.log(metros);
        //Parse out the data.
        var groupone = [];
        var grouptwo = [];
        for (i = 0; i < metros.length; i++) {
          //console.log(metros[i].Destination + ' ' + metros[i].DisplayTime);

          if (metros[i].JourneyDirection === 1) { //Mot Mörby Centrum
            groupone.push(metros[i]);
          } else { //Mot T-centralen
            grouptwo.push(metros[i]);
          }
        }
        //Now update the displays.
        getTopText(groupone, function(text) {
          document.getElementById("g1tcontent").innerHTML = text;
        });
        getTopText(grouptwo, function(text) {
          document.getElementById("g2tcontent").innerHTML = text;
        });
        getBottomText(groupone, function(text) {
          document.getElementById("g1bcontent").innerHTML = text;
        });
        getBottomText(grouptwo, function(text) {
          document.getElementById("g2bcontent").innerHTML = text;
        });
      });

      socket.on('sltrafficinfo', function(trafficinfo) {
        //console.log(trafficinfo.TrafficTypes);
        //parse out the data...

        for (i = 0; i < trafficinfo.TrafficTypes.length; i++) {
          if (trafficinfo.TrafficTypes[i].Type === "metro") {
            //console.log(trafficinfo.TrafficTypes[i]);
          }
        }
      });
    </script>
  </head>
  <body>
    <div id="tunnelbana">
      <div id="groupone" class="skylt">
        <div class="top skylttext">
          <p id="g1tcontent">
            <span class='dest'>14 Hello World</span>
            <span class='time'>13 min</span>
          </p>
        </div>
        <div class="marquee bottom skylttext">
          <div class="marquee" id="g1bcontent" behavior='scroll' scrollamount='10'>
            13 Hej Världen 42min
            <span class='symbols'>✱✱✱</span>
            14 Hello World 1337 min
          </div>
        </div>
      </div>
      <div id="grouptwo" class="skylt">
        <div class="top skylttext">
          <p id="g2tcontent">
            <span class='dest'>14 Hello World</span>
            <span class='time'>13 min</span>
          </p>
        </div>
        <div class="marquee bottom skylttext">
          <div id="g2bcontent" behavior='scroll' scrollamount='10'>
            13 Hej Världen 42min 
            <span class='symbols'>✱✱✱</span>
            14 Hello World 1337 min
          </div>
        </div>
      </div>
    </div>

    <p id="trafiklab">Data provided by <a href="http://trafiklab.se">Trafiklab</a></p>
    <div id="time">Data is <span id="timebehind">30</span>s old</div>
  </body>
</html>