<!DOCTYPE HTML>
<html>
  <head>
    <title> Metasl2.0 - Metro & Tram</title>
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/metro-tram.css">
    <script>
      let events;
      let backoff = 1;
      let lastUpdateTime = null;

      function checkDataFreshness() {
        const now = Date.now();
        if (lastUpdateTime && (now - lastUpdateTime > 3 * 60 * 1000)) {
          document.getElementById("outdated-warning").style.display = "block";
        } else {
          document.getElementById("outdated-warning").style.display = "none";
        }
      }

      function setupEvents() {
        events = new EventSource('/subscribe');
        events.addEventListener('sltram', (tram) => {
          const data = JSON.parse(tram.data);
          lastUpdateTime = Date.now();
          let tramhtml = '<h3> Roslagsbanan </h3>'
          data.forEach((tram) => {
            tramhtml += `<div><span class='linenr'>${tram.id}</span><span class='dest'>${tram.destination}</span> <span class='time'>${tram.display}</span></div>`;
          });
          document.getElementById("tram").innerHTML = tramhtml;
        });
        events.addEventListener('slmetro', (metro) => {
          const data = JSON.parse(metro.data);
          lastUpdateTime = Date.now();
          let metrohtml = '<h3> Metro </h3>'
          metrohtml += '<div class="subtitle"><h4> North </h4></div>';
          data.north.forEach((metro, index) => {
            metrohtml += `<div><span class='linenr'>${metro.id}</span><span class='dest'>${metro.destination}</span> <span class='time'>${metro.display}</span></div>`;
          });
          metrohtml += '<div class="subtitle"><h4> South </h4></div>';
          data.south.forEach((metro, index) => {
            metrohtml += `<div><span class='linenr'>${metro.id}</span><span class='dest'>${metro.destination}</span> <span class='time'>${metro.display}</span></div>`;
          });
          document.getElementById("metro").innerHTML = metrohtml;
        });
        events.addEventListener('open', () => {
          backoff = 1;
        });
        events.addEventListener('error', () => {
          events.close();
          setTimeout(setupEvents, backoff * 1000);
          backoff = Math.min(backoff * 2, 60);
        });
      }

      setupEvents();
      setInterval(checkDataFreshness, 1000);
    </script>
  </head>
  <body>
    <div id="outdated-warning">⚠️ DATA IS OUTDATED</div>
    <div class="container">
      <div id='metro'>
        <h3> Metro </h3>
        <div class='subtitle'><h4> North </h4></div>
        <div><span class='linenr'>14</span><span class='dest'> Mörby centrum </span> <span class='time'> 42min </span></div>
        <div><span class='linenr'>14</span><span class='dest'> Mörby centrum </span> <span class='time'> 42min </span></div>
        <div><span class='linenr'>14</span><span class='dest'> Mörby centrum </span> <span class='time'> 42min </span></div>
        <div class='subtitle'><h4> South </h4></div>
        <div><span class='linenr'>14</span><span class='dest'> Liljeholmen </span> <span class='time'> 42min </span></div>
        <div><span class='linenr'>14</span><span class='dest'> Fruängen </span> <span class='time'> 42min </span></div>
        <div><span class='linenr'>14</span><span class='dest'> Liljeholmen </span> <span class='time'> 42min </span></div>
      </div>
      <div id='tram'>
        <h3> Roslagsbanan </h3>
        <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
        <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
        <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
        <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
        <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
        <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
        <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
        <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
      </div>
    </div>
  </body>
</html>
