<!DOCTYPE HTML>
<html>
  <head>
    <title> Metasl2.0 - Tram</title>
    <script src='/socket.io/socket.io.js'></script>
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/tram.css">
    <script>
      const socket = io();
      socket.on('sltram', (tram) => {
        let tramhtml = '<h3> Roslagsbanan </h3>'
        tram.forEach((tram) => {
          tramhtml += `<div><span class='linenr'>${tram.id}</span><span class='dest'>${tram.destination}</span> <span class='time'>${tram.display}</span></div>`;
        });
        document.getElementById("tram").innerHTML = tramhtml;
      });
    </script>
  </head>
  <body>
    <div id='tram'>
      <h3> Roslagsbanan </h3>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
    </div>
  </body>
</html>