<!DOCTYPE HTML>
<html>
  <head>
    <title> Metasl2.0 - Tram</title>
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/tram.css">
    <script>
      let events;
      let backoff = 1;
      let lastUpdateTime = null;

      function checkDataFreshness() {
        const now = Date.now();
        if (lastUpdateTime && (now - lastUpdateTime > 3 * 60 * 1000)) {
          document.getElementById("outdated-warning").style.display = "block";
        } else {
          document.getElementById("outdated-warning").style.display = "none";
        }
      }

      function setupEvents() {
        events = new EventSource('/subscribe');
        events.addEventListener('sltram', (tram) => {
          const data = JSON.parse(tram.data);
          lastUpdateTime = Date.now();
          let tramhtml = '<h3> Roslagsbanan </h3>'
          data.forEach((tram) => {
            tramhtml += `<div><span class='linenr'>${tram.id}</span><span class='dest'>${tram.destination}</span> <span class='time'>${tram.display}</span></div>`;
          });
          document.getElementById("tram").innerHTML = tramhtml;
        });
        events.addEventListener('open', () => {
          backoff = 1;
        });
        events.addEventListener('error', () => {
          events.close();
          setTimeout(setupEvents, backoff * 1000);
          backoff = Math.min(backoff * 2, 60);
        });
      }

      setupEvents();
      setInterval(checkDataFreshness, 1000);
    </script>
  </head>
  <body>
    <div id="outdated-warning">⚠️ DATA IS OUTDATED</div>
    <div id='tram'>
      <h3> Roslagsbanan </h3>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
      <div><span class='linenr'>42</span><span class='dest'> Täby Någonstans </span> <span class='time'> 42min </span></div>
    </div>
  </body>
</html>
