.buses {
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    & > div {
        flex: 1;
    }
}

.buslist > h3 {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 2vh 0;
    font-size: 7vh;
}

.buslist > .bus {
    position: relative;
    color: #fff;
    padding: 0 2vw 0 1vw;
    background-color: #333;
    font-size: 5vh;

    &:nth-child(odd) {
        background-color: #222; /* TODO: maybe change to better color */
    }
}
.buslist:last-child > .bus {
    padding: 0 1vw 0 2vw;
}

span.busnr {
    width: 5vw;
    display: inline-block;
    padding-right: 1vw;
    padding-left: 1vw;
}

span.dest {
}

span.bustime {
    position: absolute;
    right: 0;
    padding-right: 1vw;
}
