#bus4 {
    float: left;
}

#busother {
    float: right;
}

.buses {
    height: 80vh;
    margin: 10vh auto;
    width: 95vw;
}

.buslist {
    width: 47vw;
    display: inline-block;
    background-color: white;
}

.buslist>h3 {
    background-color: red;
    color: white;
    text-align: center;
    padding: 2vh 0;
    font-size: 7vh;
}

.buslist>.bus>span {
    font-size: 5vh;
}

.buslist>.bus {
    position: relative;
}
.buslist>.bus>span.busnr {
    width: 5vw;
    display: inline-block;
    padding-right: 1vw;
    padding-left: 1vw;
}

.buslist>.bus>span.dest {
   }

.buslist>.bus>span.bustime {
    position: absolute;
    right: 0;
    padding-right: 1vw;
}
.buslist>.bus:nth-child(odd) {
    background-color: #FFdddd;
}